
body, html {
	background: #ECEDEF;
	margin: 0;
	padding: 0;
}
 
.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	padding-bottom: 20px;
	width: 320px;
	height: 500px;
	
}
.display {
	width: 100%;
	height: 60px;
	padding: 40px 0;
	background: #FF0509;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

#displayResult {
	border: 1px solid #f83538;
	padding: 1% 5%;
}

#displayResult:focus {
	outline: none;
	border-color: #ecedef;
}


.buttons {
	padding: 20px 20px 0 20px;
}

.row {
	width: 280px;
	float: left;
}
input[type=button] {
	width: 60px;
	height: 60px;
	float: left;
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	background: #ecedef;
	border: none;
	font-size: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-weight: 700;
	color: #5E5858;
	cursor: pointer;
	
}

input[type=button]:hover {
	background-color:#6c756e;
	color: #fff;
}

input[type=button]:active {
	background-color: #ffffff;
	box-shadow: 0 5px #ffffff;
	transform: translateY(4px);
}

input[type=text] {
	width: 270px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: #ffffff;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;
	
}
.red {
	background: #FF0509 !important;
	color: #ffffff !important;
	
}

button {
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #5E5858;
  line-height: 30px;
  float: left;
  border-radius: 50%;
  padding: 0;
  margin: 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 9px #ffffff;
}

button:hover {
	background-color: #6c756e;
	color: #fff;
}

button:active {
	background-color: #ffffff ;
	box-shadow: 0 5px #ffffff;
	transform: translateY(4px);
}

::placeholder {
	color: #fff;
}